{% extends "base.html" %}
{%from 'components/formcapture.html' import formcapture%}
{%from 'components/header.html' import header%}
{% from 'components/newshipment.html' import render_new_shipment_form%}
{% from 'components/table_base.html' import render_table %}
{% from 'components/nav.html' import nav_bar%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
{% endblock %}

{% block content %}
        <header>

{{ header('Dashboard') }}
        </header>

<nav>
    {{nav_bar()}}
</nav>
<main>
    {{ formcapture() }}
    {{render_new_shipment_form()}}
    {{render_table(shipment ,"dashboard" )}}
</main>

<footer>
    <p>&copy; 2025 Your Company Name</p>
</footer>
</div>
{% endblock %}