{%macro nav_bar()%}

            <h3 style="margin-bottom: 20px; padding-left: 15px;">Logistics</h3>
            <ul>
              <li><a href="{{ url_for('client_bp.client_dash') }}">SFTP Connection</a></li>
              <li>
                <a href="{{ url_for('dashboard_bp.dashboard') }}">
                Track Shipment
              </a>
            </li>
              <li>
                <a href="{{ url_for('employee_bp.employee') }}">
                  Alta Empleado
                </a>
                
              </li>
                <li>History Shipment</li>
            </ul>
        
{%endmacro%}