{%macro render_table (data_list , class)%}
{% if data_list %}
<table>
<thead>
    <tr>
{% for key in data_list[0].keys() %}
                        <th>{{ key | replace('_', ' ') | upper }}</th>
                    {% endfor %}
    </tr>
</thead>
<tbody>
{%for row in data_list%}
<tr>
    {% for row in data_list %}
    <tr class='{{class}}' id = "{{row[0]}}">
        {% for value in row.values() %}
        <td>{{ value if value is not none else '' }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</tr>
{%endfor%}

</tbody>
{% else%}
<div class="empty-state">
            <div class="icon">📁</div>
            <h3>No hay registros disponibles</h3>
            <p>Actualmente no se encontro informacion para mostrar en esta sección.</p>
            <a href="{{ url_for('dashboard_bp.dashboard', action='new') }}" class="btn-primary">
                + Crear Primer Embarque
            </a>
        </div>

{%endif%}

</table>


{%endmacro%}